@tailwind base;

@tailwind components;

@tailwind utilities;

html {
	font-size: 12px;
}
@screen sm {
	html {
		font-size: 16px;
	}
}
@screen md {
	html {
		font-size: 20px;
	}
}

#__layout {
	@apply px-6;
	@screen sm {
		@apply px-16;
	}
	@screen md {
		@apply px-32;
	}

	@apply w-screen h-screen;
	overflow: hidden;

	@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
	font-family: 'IBM Plex Sans', sans-serif;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	/* -webkit-font-smoothing: subpixel-antialiased; */

	/* https://hslpicker.com/#150b28 */
	background-color: hsla(261, 50%, 9%, 1);
	/* https://hslpicker.com/#fcfcf8 */
	color: hsla(63, 40%, 98%, 1);
	a:hover {
		color: hsla(63, 40%, 98%, 0.8);
	}

	svg {
		fill: currentColor;
	}

	@apply grid;

	h1 {
		@apply text-8xl font-normal mb-4;
	}
	h2 {
		@apply text-5xl font-normal;
		line-height: 1.2;
	}
	h1 + p, h2 + p {
		@apply mt-10 !important;
	}
	ul, p {
		@apply text-3xl font-light;
	}
}
